{% load static %}

<!doctype html>
<html lang="cs">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'simple-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'baguetteBox.min.css' %}">
    <title>LedTen</title>
  </head>
  <body>
    <!--<a class="up none" href="#header">
      <i class="icono-arrow2-up"></i>
    </a>-->

      <header class="header"><!--
        <div class="top-contact text">


          <div class="top-account">
            <a href="#">Přihlásit</a> / <a href="#">Registrovat</a>
          </div>
        </div>-->

          <nav class="nvbr">
            <a class="nvbr-brand" href="{% url 'homepage' %}" name="header"><h1></h1></a>

            <div class="search">
              <!--<div class="top-contact text">
                <div class="mail-adress">
                  <a href="#">smolda.2@seznam.cz</a>
                </div>

                <div class="phone">
                  <a href="#">731 346 765</a>
                </div>
              </div>-->

                <div class="search-container">
                  <form action="{% url 'produkty:produkty' %}" method="get">
                    <input class="text" type="text" value="10W" name="jmeno__icontains" id="id_jmeno__icontain" placeholder="Hledat.." name="search">
                  </form>
                </div>



            </div>

            <div class="nvbr-right">


              <ul class="nvbr-list text">

                <li class="nvbr-list-item {% if request.resolver_match.url_name == 'homepage' %} nvbr-list-item-active {% endif %}"><h2> <a href="{% url 'homepage' %} "> Domů </a> </h2></li>
                <li class="nvbr-list-item {% if request.resolver_match.url_name == 'produkty' %} nvbr-list-item-active {% endif %}"><h2> <a href="{% url 'produkty:produkty' %} "> Produkty </a> </h2></li>
                <li class="nvbr-list-item {% if request.resolver_match.url_name == 'proc_led' %} nvbr-list-item-active {% endif %}"><h2> <a href="{% url 'proc_led' %} "> Proč LED </a> </h2></li>
                <li class="nvbr-list-item {% if request.resolver_match.url_name == 'prihlaseni' %} nvbr-list-item-active {% endif %}"><h2> <a href="{% url 'profil:prihlaseni' %} "> Přihlasit </a> </h2></li>
                <li class="nvbr-list-item {% if request.resolver_match.url_name == 'kontakt' %} nvbr-list-item-active {% endif %}"><h2> <a href="{% url 'kontakt' %} "> Kontakt </a> </h2></li>

              </ul>

              <a class="nvbr-cart" href="#">
                <div class="nvbr-cart-img">
                </div>
              </a>
            </div>


          </nav>
      </header>


      <div class="section-wrapper">
        {% block content %}

        {% endblock %}
      </div>


      <footer class="footer">
        <div class="wrapper">
          <div class="footer-top row">
            <div class="footer-top-left col-sm">

              <ul class="footer-list">
                <li class="footer-list-item"><h2> <a class="a" href="#"> Domů </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Produkty </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Proč LED </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Jak nakupovat </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Profil </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Kontakt </a> </h2></li>
              </ul>

            </div>

            <div class="footer-top-right col-sm">

              <ul class="footer-list">
                <li class="footer-list-item"><h2> <a class="a" href="#"> Domů </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Produkty </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Proč LED </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Jak nakupovat </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Profil </a> </h2></li>
                <li class="footer-list-item"><h2> <a class="a" href="#"> Kontakt </a> </h2></li>
              </ul>

            </div>
          </div>

          <div class="footer-bottom">
            <p>Copyright © 2007-2018 LENAL LLС. All Rights Reserved.</p>
          </div>
        </div>
      </footer>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'jquery.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'popper.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'bootstrap.min.js' %}" type="text/javascript"></script>

      <script src="{% static 'flickity.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'echarts.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'echarts.js' %}" type="text/javascript"></script>
      <script src="{% static 'flickity.js' %}" type="text/javascript"></script>
      <script src="{% static 'calculator.js' %}" type="text/javascript"></script>
      <script src="{% static 'calc.js' %}" type="text/javascript"></script>

      <script src="{% static 'baguetteBox.min.js' %}" type="text/javascript"></script>

      <script src="{% static 'simple-scrollbar.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'scripts.js' %}" type="text/javascript"></script>
      <script src="{% static 'counter-input.js' %}" type="text/javascript"></script>

   </body>
</html>
