{% extends 'base_layout.html' %}
{% load static %}


{% block content %}

  <div class="kontakt-billboard">
    <iframe width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2570.3252569583688!2d18.235331158381285!3d49.892696621772515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713e20ebef5ed93%3A0x11f5ba1ea2a38b04!2sMarkvartovick%C3%A1+68%2F54%2C+747+14+Ludge%C5%99ovice!5e0!3m2!1scs!2scz!4v1546706273804"></iframe>

    <div class="kontakt-billboard-content visible">
      <div class="kontakt-billboard-content-container">
        <h3 class="h4 text">kontakty</h3>

        <div class="info">
          <ul class="text">
            <li>Jana Sládková - LedTen.cz</li>
            <li>Markvartovická 68/54</li>
            <li>747 14 Ludgeřovice</li>
            <li><span>IČ:</span> 73076953</li>
            <li><span>DIČ:</span> CZ7152025551</li>
          </ul>

          <ul class="text">
            <li><span>Tel:</span> <a href="tel:604243347" class="a ab">604 243 347</a></li>
            <li><span>Tel:</span> <a href="tel:605089367" class="a ab">605 089 367</a></li>
            <li><span>e-mail:</span> <a href="mailto:ledteninfo@gmail.com">ledteninfo@gmail.com</a></li>
          </ul>
        </div>

      </div>
    </div>
    <button class="mapa bttn a text">Ukázat mapu</button>

  </div>

{% endblock %}
