{% load static %}

{% block life %}

  <section class="why" style=" background: #f6f6f6;">
    <div class="wrapper">
      <div class="why-content">
        <div class="why-container">
            <h4 class="h4 text">Životnost</h4>
            <p>
              Delší životnost znamená nižší emise uhlíku. Kontrolky LED svítí až šestkrát déle než jiné typy světel, což snižuje potřebu častých výměn. Výsledkem je použití méně světla, a proto je potřeba méně zdrojů pro výrobní procesy, obalové materiály a dopravu.
            </p>
        </div>
        <img style="height: 200px;" src="{% static 'img/time.png' %}" alt="LED žárovka">
      </div>

    </div>
  </section>

{% endblock %}
