{% load static %}

{% block toxicity %}

  <section class="why">
    <div class="wrapper">
      <div class="why-content">
        <img src="{% static 'img/recy.jpg' %}" alt="LED žárovka">

        <div class="why-container">
            <h4 class="h4 text">Žádné toxické prvky</h4>
            <p>
              LED světla neobsahují žádné toxické prvky. Většina kanceláří v současné době používá fluorescenční proužky, které obsahují škodlivé chemikálie, jako je rtuť. To bude kontaminovat životní prostředí při likvidaci odpadu v skládkách. Likvidace musí být provedena prostřednictvím registrovaného nosiče odpadu, takže přepnutí na LED zabraňuje nákladovým a časovým důsledkům požadovaným pro vyhovující zneškodnění a pomáhá chránit životní prostředí před dalším toxickým odpadem.
            </p>
        </div>
      </div>

    </div>
  </section>

{% endblock %}
